* {
    margin: 0;
}

.dark {
    background-color: #2D3941 !important;
    color: whitesmoke !important;
}
.icon{
    width: 1.25em !important;
    height: 1.25em !important;
}
.App {
    background-color: #dddedd;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}