.welcome-container{
    display: flex;
    float: 0.7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1pxsolid red;

}
.welcome-logo{
    height: 150vh;
}